*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log

dependency-reduced-pom.xml
aixforce-search/data
*.rdb
db/
*.versionsBackup
.flattened-pom.xml

node_modules/
sass/
package.json
Gruntfile.js
config.js
.sass-cache/



