<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.j360.dubbo.dao.mapper.UserMapper" >

  <resultMap id="UserDO" type="me.j360.dubbo.dao.model.UserDO">
    <id column="id" property="id" jdbcType="BIGINT" javaType="Long" />
    <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
  </resultMap>

  <select id="count" resultType="int" >
    select count(id) count from user
  </select>

  <insert id="add" parameterType="me.j360.dubbo.dao.model.UserDO">
    insert into user (id, name)
    values (#{id}, #{name})
  </insert>
</mapper>