lombok.getter.noIsPrefix=true #(默认: false)  #lombok 默认对 boolean 类型字段生成的 get 方法使用 is 前缀, 通过此配置则使用 get 前缀
lombok.accessors.chain=true #(默认: false) #默认的 set 方法返回 void 设置为 true 返回调用对象本身
lombok.accessors.fluent=false #(默认: false) #如果设置为 true. get,set 方法将不带 get,set 前缀, 直接以字段名为方法名
lombok.log.fieldName=log #(默认: log) #设置 log 类注解返回的字段名称